<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ChatGPT 许多多小说胡编</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        
        h1 {
            color: #333;
            text-align: center;
            font-size: 24px;
            margin-bottom: 30px;
        }
        
        h2 {
            color: #666;
            font-size: 18px;
            margin-bottom: 10px;
        }
        
        h3 {
            color: #999;
            font-size: 16px;
            margin-bottom: 5px;
        }
        
        h4 {
            color: #ccc;
            font-size: 14px;
            margin-bottom: 3px;
        }
        
        h5 {
            color: #ddd;
            font-size: 12px;
            margin-bottom: 2px;
        }
        
        textarea {
            width: 100%;
            height: 80px;
            resize: vertical;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
        
        .indent {
            margin-left: 30px;
        }
        
        .button {
            display: inline-block;
            padding: 8px 12px;
            margin: 5px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            transition: background-color 0.3s ease;
        }
 
        .button-normal {
            display: inline-block;
            padding: 8px 12px;
            margin: 5px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: dodgerblue;
            color: white;
            transition: background-color 0.3s ease;
        }
         
        .button-del {
            display: inline-block;
            padding: 8px 12px;
            margin: 5px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            background-color: red;
            color: white;
            transition: background-color 0.3s ease;
        }
 

        
        .button:hover {
            background-color: #45a049;
        }
        
        .button:focus {
            outline: none;
        }
        
        #novelOutput {
            width: 100%;
            height: 200px;
            margin-top: 20px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        /* 新增样式 */
        #chapterCountInput, #subChapterCountInput, #paragraphCountInput {
            width: 50px;
            margin-left: 10px;
        }
    </style>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.12.0/toastify.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.12.0/toastify.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.min.css" rel="stylesheet">
</head>
<body>
    <input type="hidden" id="subchapter_recap" value="无内容。">
    <input type="hidden" id="subsubchapter_recap" value="无内容。">
    <input type="hidden" id="writing_recap" value="无内容。">
    <input type="hidden" id="writing_last_paragraph" value="无内容。">
    
    <div class="container">

        <h1>ChatGPT 许多多小说胡编</h1>

        <h2>人物介绍</h2>
        <textarea id="character_intro" placeholder="请输入人物介绍">{{ character_intro }}</textarea>
        
        <h2>小说想法</h2>
        <textarea id="overallIdea" placeholder="请输入整体想法">{{ idea }}</textarea>

        <div class="input-group">
            <h2>章节数量：<input id="chapterCountInput" class="form-control" type="number" value="12" min="1"></h2>
            <button onclick="PlanChapters()" class="button">ChatGPT 生成章节</button>

            <h2>子章节数量：<input id="subChapterCountInput" class="form-control" type="number" value="3" min="1"></h2>
            <button onclick="PlanSubChapters()" class="button">ChatGPT 扩展所有章节</button>

            <h2>段落数量：<input id="paragraphCountInput" class="form-control" type="number" value="3" min="1"></h2>
            <button onclick="PlanSubSubChapters()" class="button">ChatGPT 扩展所有子章节</button>
        </div>
        
        <h2>章节</h2>
        <div id="chapterContainer"></div>
        <button onclick="addChapter()" class="button-normal">添加章节</button>

        
        <br>
        <br>
        <h1>生成小说</h1>
        <button onclick="generateNovel()" class="button">ChatGPT 生成小说段落</button>
        <h2>当前生成段落概要</h2>
        <textarea id="currParagraph" readonly></textarea>
        <h2>小说正文</h2>
        <textarea id="novelOutput"></textarea>

    </div>

    <script>
        function PlanChapters() {
            var idea = document.getElementById('overallIdea').value;
            var character_intro = document.getElementById('character_intro').value;
            var num_chapters = document.getElementById('chapterCountInput').value;
            var data = {
                "idea": idea,
                "character_intro": character_intro,
                "num_chapters": parseInt(num_chapters)
            };
            // console.log(data);

            var chapterDiv = document.getElementById("chapterContainer");
            chapterDiv.innerHTML = "";

            var loadingToast = Toastify({
                text: '大纲 生成中...',
                duration: -1, // 通过设置duration为-1，使Toast一直显示，直到手动关闭
                close: false, // 隐藏关闭按钮
                gravity: "center", // 设置Toast显示在顶部
                className: "loading-toast" // 自定义样式类名
              }).showToast();

            $.post("/plan_chapters", 
                data, 
                function(result) {
                    console.log(result);
                    var chapter_outlines = result["chapter_outlines"]
                    for (var i in chapter_outlines) {
                        var chapter_outline = chapter_outlines[i];
                        addChapter(chapter_outline);
                    }
                    loadingToast.hideToast();
                }, 'json')
                .fail(function(error) {
                    console.error(error);
                });

        }

        function PlanSubChapters() {
            var num_subchapters = document.getElementById('subChapterCountInput').value;

            var textareaList = $('.chapter'); // 获取所有class为chapter的textarea元素
            var chapter_outlines = []; // 存储输入内容的列表
            textareaList.each(function() {
                var content = $(this).val(); // 获取当前textarea的输入内容
                chapter_outlines.push(content); // 将内容添加到列表中
            });

            var chapter_outline = "";
            var recapContainer = document.getElementById("subchapter_recap");
            var recap = recapContainer.value;

            function AsyncPlanNextChapter(chapter_outlines, chapter_outline, recap, num_subchapters, callback, fail_callback) {

                var data = {
                    "chapter_outlines": JSON.stringify(chapter_outlines),
                    "chapter_outline": chapter_outline,
                    "recap": recap,
                    "num_subchapters": parseInt(num_subchapters)
                };

                $.post("/plan_subchapters", 
                    data, 
                    callback
                )
                    .fail(fail_callback);

            }

            function PlanNextChapter(chapter_outlines, recap, num_subchapters) {
                for (var i = 0; i < chapter_outlines.length; i++) {
                    var chapter_outline = chapter_outlines[i];
                    const subChapterContainer = document.getElementById("subChapterContainer_" + (i + 1));
                    const subChapterCount = subChapterContainer.childElementCount;
                    if (subChapterCount <= 1) {
                        break;
                    }
                }
                if (i < chapter_outlines.length) {

                    var loadingToast = Toastify({
                        text: '第' + (i + 1) + '章' + ' 生成中...',
                        duration: -1, // 通过设置duration为-1，使Toast一直显示，直到手动关闭
                        close: false, // 隐藏关闭按钮
                        gravity: "center", // 设置Toast显示在顶部
                        className: "loading-toast" // 自定义样式类名
                      }).showToast();

                    AsyncPlanNextChapter(
                        chapter_outlines,
                        chapter_outline,
                        recap,
                        num_subchapters,
                        function(result) {
                            var subchapter_outlines = result["subchapter_outlines"];
                            var recap = result["recap"];
                            for (var i_subchapter in subchapter_outlines) {
                                var subchapter_outline = subchapter_outlines[i_subchapter];
                                addSubChapter(i + 1, subchapter_outline);
                            }
                            var recapContainer = document.getElementById("subchapter_recap");
                            recapContainer.value = recap;
                            loadingToast.hideToast();
                            PlanNextChapter(chapter_outlines, recap, num_subchapters);
                        },
                        function(fail_response) {
                            loadingToast.hideToast();
                            PlanNextChapter(chapter_outlines, recap, num_subchapters);
                        }
                    );
                }
            }

            PlanNextChapter(chapter_outlines, recap, num_subchapters);

        }

        function PlanSubSubChapters() {
            var num_subsubchapters = document.getElementById('paragraphCountInput').value;

            var textareaList = $('.chapter'); // 获取所有class为chapter的textarea元素
            var chapter_outlines = []; // 存储输入内容的列表
            textareaList.each(function() {
                var content = $(this).val(); // 获取当前textarea的输入内容
                chapter_outlines.push(content); // 将内容添加到列表中
            });

            var recapContainer = document.getElementById("subsubchapter_recap");
            var recap = recapContainer.value;

            function AsyncPlanNextSubChapter(chapter_outlines, subchapter_outlines, subchapter_outline, recap, num_subsubchapters, callback, fail_callback) {

                var data = {
                    "chapter_outlines": JSON.stringify(chapter_outlines),
                    "subchapter_outlines": JSON.stringify(subchapter_outlines),
                    "subchapter_outline": subchapter_outline,
                    "recap": recap,
                    "num_subsubchapters": parseInt(num_subsubchapters)
                };

                $.post("/plan_subsubchapters", 
                    data, 
                    callback
                )
                    .fail(fail_callback);

            }

            function PlanNextSubChapter(chapter_outlines, recap, num_subsubchapters) {
                var finished = true;
                for (var i = 0; i < chapter_outlines.length; i++) {
                    var chapter_outline = chapter_outlines[i];

                    var textareaList = $('#subChapterContainer_' + (i + 1) + ' .subchapter');
                    var subchapter_outlines = []; // 存储输入内容的列表
                    textareaList.each(function() {
                        var content = $(this).val(); // 获取当前textarea的输入内容
                        subchapter_outlines.push(content); // 将内容添加到列表中
                    });
                    for (var j = 0; j < subchapter_outlines.length; j++) {
                        var subchapter_outline = subchapter_outlines[j];
                        const paragraphContainer = document.getElementById("paragraphContainer_" + (i + 1) + "_" + (j + 1));
                        const paragraphCount = paragraphContainer.childElementCount;
                        if (paragraphCount <= 1) {
                            finished = false;
                            break;
                        }

                    }
                    if (!finished) {
                        break;
                    }
                }

                if (!finished) {
                    var loadingToast = Toastify({
                        text: '第' + (i + 1) + '章 ' + '第' + (j + 1) + '节' + ' 生成中...',
                        duration: -1, // 通过设置duration为-1，使Toast一直显示，直到手动关闭
                        close: false, // 隐藏关闭按钮
                        gravity: "center", // 设置Toast显示在顶部
                        className: "loading-toast" // 自定义样式类名
                      }).showToast();

                    AsyncPlanNextSubChapter(
                        chapter_outlines,
                        subchapter_outlines,
                        subchapter_outline,
                        recap,
                        num_subsubchapters,
                        function(result) {
                            var subsubchapter_outlines = result["subsubchapter_outlines"];
                            var recap = result["recap"];
                            for (var i_subsubchapter in subsubchapter_outlines) {
                                var subsubchapter_outline = subsubchapter_outlines[i_subsubchapter];
                                addParagraph(i + 1, j + 1, subsubchapter_outline);
                            }
                            var recapContainer = document.getElementById("subsubchapter_recap");
                            recapContainer.value = recap;
                            loadingToast.hideToast();
                            PlanNextSubChapter(chapter_outlines, recap, num_subsubchapters);
                        },
                        function(fail_response) {
                            loadingToast.hideToast();
                            PlanNextSubChapter(chapter_outlines, recap, num_subsubchapters);
                        }
                    );

                }
            }

            PlanNextSubChapter(chapter_outlines, recap, num_subsubchapters);

        }
    </script>

    <script>
        function addChapter(chapter_outline="") {
            const chapterContainer = document.getElementById("chapterContainer");
            const chapterCountInput = document.getElementById("chapterCountInput");
            const subChapterCountInput = document.getElementById("subChapterCountInput");
            const paragraphCountInput = document.getElementById("paragraphCountInput");
            // const chapterCount = parseInt(chapterCountInput.value);
            // const subChapterCount = parseInt(subChapterCountInput.value);
            // const paragraphCount = parseInt(paragraphCountInput.value);
            const chapterCount = chapterContainer.childElementCount + 1;

            const chapterDiv = document.createElement("div");
            chapterDiv.id = "chapterDiv_" + chapterCount;
            chapterDiv.innerHTML = "<h3>第 " + chapterCount + " 章 概要</h3><textarea id='chapterSummary_" + chapterCount + "' class='chapter' placeholder='请输入章节概要'>" + chapter_outline + "</textarea>";

            // const deleteButton = document.createElement("button");
            // deleteButton.classList.add("button-del");
            // deleteButton.textContent = "删除本章";
            // deleteButton.onclick = function() { deleteSummaryInput(chapterDiv.id); };
            // chapterDiv.appendChild(deleteButton);

            const subChapterContainer = document.createElement("div");
            subChapterContainer.id = "subChapterContainer_" + chapterCount;
            subChapterContainer.classList.add("indent");

            // for (let i = 0; i < subChapterCount; i++) {
            //     const subChapterDiv = document.createElement("div");
            //     subChapterDiv.innerHTML = "<h4>概要</h4><textarea id='subChapterSummary_" + (chapterContainer.childElementCount + 1) + "_" + (i + 1) + "' placeholder='请输入子章节概要'></textarea>";

            //     const paragraphContainer = document.createElement("div");
            //     paragraphContainer.id = "paragraphContainer_" + (chapterContainer.childElementCount + 1) + "_" + (i + 1);
            //     paragraphContainer.classList.add("indent");

            //     for (let j = 0; j < paragraphCount; j++) {
            //         const paragraphDiv = document.createElement("div");
            //         paragraphDiv.innerHTML = "<h5>概要</h5><textarea id='paragraphSummary_" + (chapterContainer.childElementCount + 1) + "_" + (i + 1) + "_" + (j + 1) + "' placeholder='请输入段落概要'></textarea>";
            //         paragraphDiv.classList.add("indent");

            //         paragraphContainer.appendChild(paragraphDiv);
            //     }

            //     const addParagraphButton = document.createElement("button");
            //     addParagraphButton.textContent = "添加段落";
            //     addParagraphButton.onclick = function() { addParagraph((chapterContainer.childElementCount + 1), (i + 1)); };
            //     addParagraphButton.classList.add("button");

            //     subChapterDiv.appendChild(paragraphContainer);
            //     subChapterDiv.appendChild(addParagraphButton);
            //     subChapterContainer.appendChild(subChapterDiv);
            // }

            const addSubChapterButton = document.createElement("button");
            addSubChapterButton.textContent = "添加子章节";
            addSubChapterButton.onclick = function() { addSubChapter(chapterCount); };
            addSubChapterButton.classList.add("button-normal");

            subChapterContainer.appendChild(addSubChapterButton);
            chapterDiv.appendChild(subChapterContainer);
            chapterContainer.appendChild(chapterDiv);
        }

        function addSubChapter(chapterIndex, outline="") {
            const subChapterContainer = document.getElementById("subChapterContainer_" + chapterIndex);
            const subChapterCount = subChapterContainer.childElementCount;

            const subChapterDiv = document.createElement("div");
            subChapterDiv.id = "subChapterDiv_" + subChapterCount;
            subChapterDiv.innerHTML = "<h4>第" + chapterIndex + "章    第" + subChapterCount + "节 概要</h4><textarea id='subChapterSummary_" + chapterIndex + "_" + subChapterCount + "' class='subchapter' placeholder='请输入子章节概要'>" + outline + "</textarea>";

            // const deleteButton = document.createElement("button");
            // deleteButton.classList.add("button-del");
            // deleteButton.textContent = "删除本节";
            // deleteButton.onclick = function() { deleteSummaryInput(subChapterDiv.id); };
            // subChapterDiv.appendChild(deleteButton);

            const paragraphContainer = document.createElement("div");
            paragraphContainer.id = "paragraphContainer_" + chapterIndex + "_" + subChapterCount;
            paragraphContainer.classList.add("indent");

            // const paragraphCountInput = document.getElementById("paragraphCountInput");
            // const paragraphCount = parseInt(paragraphCountInput.value);

            // for (let i = 0; i < paragraphCount; i++) {
            //     const paragraphDiv = document.createElement("div");
            //     paragraphDiv.innerHTML = "<h5>概要</h5><textarea id='paragraphSummary_" + chapterIndex + "_" + subChapterCount + "_" + (i + 1) + "' placeholder='请输入段落概要'></textarea>";
            //     paragraphDiv.classList.add("indent");

            //     paragraphContainer.appendChild(paragraphDiv);
            // }

            const addParagraphButton = document.createElement("button");
            addParagraphButton.textContent = "添加段落";
            addParagraphButton.onclick = function() { addParagraph(chapterIndex, subChapterCount); };
            addParagraphButton.classList.add("button-normal");

            paragraphContainer.appendChild(addParagraphButton);
            subChapterDiv.appendChild(paragraphContainer);
            subChapterContainer.appendChild(subChapterDiv);
        }

        function addParagraph(chapterIndex, subChapterIndex, outline="") {
            const paragraphContainer = document.getElementById("paragraphContainer_" + chapterIndex + "_" + subChapterIndex);
            const paragraphCount = paragraphContainer.childElementCount;

            const paragraphDiv = document.createElement("div");
            paragraphDiv.id = "paragraphDiv_" + paragraphCount;
            paragraphDiv.innerHTML = "<h5>第" + chapterIndex + "章    第" + subChapterIndex + "节    第" + paragraphCount + "段 概要</h5><textarea id='paragraphSummary_" + chapterIndex + "_" + subChapterIndex + "_" + paragraphCount + "' class='paragraph' placeholder='请输入段落概要'>" + outline + "</textarea>";
            paragraphDiv.classList.add("indent");

            // const deleteButton = document.createElement("button");
            // deleteButton.classList.add("button-del");
            // deleteButton.textContent = "删除本段";
            // deleteButton.onclick = function() { deleteSummaryInput(paragraphDiv.id); };
            // paragraphDiv.appendChild(deleteButton);

            paragraphContainer.appendChild(paragraphDiv);
        }

        function deleteSummaryInput(id) {
            const element = document.getElementById(id);
            element.remove();
        }

        function generateNovel() {

            var textareaList = $('.chapter'); // 获取所有class为chapter的textarea元素
            var chapter_outlines = []; // 存储输入内容的列表
            textareaList.each(function() {
                var content = $(this).val(); // 获取当前textarea的输入内容
                chapter_outlines.push(content); // 将内容添加到列表中
            });
            var character_intro = document.getElementById('character_intro').value;

            var recapContainer = document.getElementById("writing_recap");
            var recap = recapContainer.value;
            var lastParagraphContainer = document.getElementById("writing_last_paragraph");
            var last_paragraph = lastParagraphContainer.value;

            function AsyncWriteNextParagraph(chapter_outlines, character_intro, recap, last_paragraph, subsubchapter_outline, callback, fail_callback) {

                var data = {
                    "chapter_outlines": JSON.stringify(chapter_outlines),
                    "character_intro": character_intro,
                    "recap": recap,
                    "last_paragraph": last_paragraph,
                    "subsubchapter_outline": subsubchapter_outline
                };

                $.post("/write_subsubchapter", 
                    data, 
                    callback
                )
                    .fail(fail_callback);

            }

            function WriteNextParagraph(chapter_outlines, character_intro, recap, last_paragraph) {
                var finished = true;
                for (var i = 0; i < chapter_outlines.length; i++) {
                    var chapter_outline = chapter_outlines[i];

                    var textareaList = $('#subChapterContainer_' + (i + 1) + ' .subchapter');
                    var subchapter_outlines = []; // 存储输入内容的列表
                    textareaList.each(function() {
                        var content = $(this).val(); // 获取当前textarea的输入内容
                        subchapter_outlines.push(content); // 将内容添加到列表中
                    });
                    for (var j = 0; j < subchapter_outlines.length; j++) {
                        var subchapter_outline = subchapter_outlines[j];

                        var textareaList = $('#paragraphContainer_' + (i + 1) + '_' + (j + 1) + ' .paragraph');
                        var subsubchapter_outlines = []; // 存储输入内容的列表
                        textareaList.each(function() {
                            var content = $(this).val(); // 获取当前textarea的输入内容
                            subsubchapter_outlines.push(content); // 将内容添加到列表中
                        });

                        for (var k = 0; k < subsubchapter_outlines.length; k++) {
                            var subsubchapter_outline = subsubchapter_outlines[k];
                            var paragraph_textarea = $("#paragraphSummary_" + (i + 1) + "_" + (j + 1) + "_" + (k + 1));
                                                                                                                                                   console.log(paragraph_textarea.attr("generated"));
                                                                                                                                                   if (!paragraph_textarea.attr("generated")) {
                                finished = false;
                                break;
                            }
                        }
                        if (!finished) {
                            break;
                        }

                    }
                    if (!finished) {
                        break;
                    }
                }

                if (!finished) {
                    var loadingToast = Toastify({
                        text: '第' + (i + 1) + '章 ' + '第' + (j + 1) + '节' + ' 第' + (k + 1) + '段' + ' 写作中...',
                        duration: -1, // 通过设置duration为-1，使Toast一直显示，直到手动关闭
                        close: false, // 隐藏关闭按钮
                        gravity: "center", // 设置Toast显示在顶部
                        className: "loading-toast" // 自定义样式类名
                      }).showToast();

                    var curr_paragraph = document.getElementById("currParagraph");
                    curr_paragraph.value = subsubchapter_outline;

                    AsyncWriteNextParagraph(
                        chapter_outlines,
                        character_intro,
                        recap,
                        last_paragraph,
                        subsubchapter_outline,
                        function(result) {
                            var text = result["text"];
                            var recap = result["recap"];

                            const novelOutput = document.getElementById("novelOutput");
                            if (j == 0 && k == 0) {
                                novelOutput.value += "\n" + (i + 1) + ".\n\n";
                            }
                            if (k == 0) {
                                novelOutput.value += "\n(" + (j + 1) + ")\n\n";
                            }
                            novelOutput.value += text + "\n";

                            var paragraph_textarea = $("#paragraphSummary_" + (i + 1) + "_" + (j + 1) + "_" + (k + 1));
                                                                                                                                                   paragraph_textarea.attr("generated", true);

                            var recapContainer = document.getElementById("writing_recap");
                            recapContainer.value = recap;
                            var last_paragraph = text;
                            var lastParagraphContainer = document.getElementById("writing_last_paragraph");
                            lastParagraphContainer.value = last_paragraph;

                            loadingToast.hideToast();

                            WriteNextParagraph(chapter_outlines, character_intro, recap, last_paragraph);
                        },
                        function(fail_response) {
                            loadingToast.hideToast();
                            WriteNextParagraph(chapter_outlines, character_intro, recap, last_paragraph);
                        }
                    );

                }
            }

            WriteNextParagraph(chapter_outlines, character_intro, recap, last_paragraph);

        }
    </script>
</body>
</html>
